html,body{
  padding:0 0 0 0;
  height:100%;
}
@media (max-width: 900px){
  #main header{
    width: 90%;
    margin:0 auto 60px auto;
  }
  #main footer {
    width: 90%;
  }
  #main header h1{
    display: block;
    width:100%;
    text-align: center;
  }
  #main .bounding{
    margin-top: 8px;
    text-align: center;
    height:50px;
    display: block;
  }
  #main header ul{
    display: inline-block;
    float: none;
    font-weight: 600;
    font-size:20px;
  }
  #main header li{
    list-style-type: none;
    margin: 0 25px 0 25px;
  }
  #main #about{
    width: 90%;
    margin: 0 auto;
  }
}
*{
  margin: 0;
}
#main{
  font-family: 'Roboto', sans-serif;
  color:#272727;
  min-height: 100%;
  height: auto !important;
  height:100%;
  margin: 0 auto -4em;
  padding: 0 0 0 0;
}
header{
  padding-top:20px;
  width:650px;
  height:60px;
  margin:0 auto 20px auto;
  display:block;
}

.bounding{
  height:50px;
  display: inline;
}

header h1{
  width:300px;
  display: inline-block;
}
header h1 span{
  font-weight:300;
}
header ul{
  float:right;
  padding:10px 0 0 0;
}

header li{
  float:left;
  list-style-type: none;
  font-size:20px;
  margin-left:30px;
}
header li a{
  text-decoration: none;
  color:inherit;

}

#about{
  font-weight:300;
  width:670px;
  margin:0 auto;
  font-size:20px;
  line-height:35px;
}

a{
  text-decoration: none;
  color:inherit;
  font-weight:500;
}

#about p{
  padding-right:0;
  padding-left:10px;
  margin-bottom:35px;
}


footer{
  height:40px;
  width:650px;
  font-size:50px;
  margin:50px auto 0 auto;
  text-align:center;
}
footer a:visited,a{
  color:inherit;
}
footer i{
  margin-right:30px;
}
